<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>livrariadigitalweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <error-page>
  	<exception-type>java.lang.Exception</exception-type>
  	<location>/excecoes.jsp</location>
  </error-page>
  <error-page>
  	<error-code>404</error-code>
  	<location>/erro404.jsp</location>
  </error-page>
  
<!--   <servlet>
  	<servlet-name>testeservlet</servlet-name>
  	<servlet-class>livrariadigital.servlets.TesteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>testeservlet</servlet-name>
  	<url-pattern>/testandoservlet</url-pattern>
  </servlet-mapping>  -->
  
  <servlet>
  	<servlet-name>servlet1</servlet-name>
  	<servlet-class>livrariadigital.servlets.TesteServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>servlet1</servlet-name>
  	<url-pattern>/oi</url-pattern>
  </servlet-mapping>
</web-app>