body{
	background-image: linear-gradient(to bottom, white,#005594);
}

img {
	
	width: 200px;
	height: 80 px;
	
}

table{
	font-family:"Comic sans ms","Helvética", sans-serif;
	color:#005594;
	
}

#lista{
	font-family:"Comic sans ms","Helvética", sans-serif;
	color:white;
	
}

h1, h2{
	font-family:"Comic sans ms","Helvética", sans-serif;
	color:#005594;
	
}

h5{
	border:solid 2px;
	border-color: white;
	border-radius:10px;
	padding: 10px;
	font-family:"Comic sans ms","Helvética", sans-serif;
	color: white;
	background: #005594;
	margin-top: 200px;
	
	
	
}

#cadastrar {
	font-family:"Comic sans ms","Helvética", sans-serif;
	color: white;
	background: #005594;
	border-radius:10px;
	margin-left: 260px;
	margin-top: 15px;
}